<!-- <div id="sell-card" class="card"> -->
<div class="card">
    <h3 class="card-header">У меня есть</h3>
    <div class="currency">
      <input class="currency__input" type="text" name="current" required >
      <!-- <label id="sell-currency-label" class="currency__label" for="current"></label> -->
      <label class="currency__label" for="current"></label>
    </div>
    <!-- <div id="sell-currency" class="dropdown"> -->
    <div class="dropdown">
      <div class="dropdown__button">
        <div class="dropdown__country">
          <!-- <img src="../images/flags/russia.png" alt="" class="flag">
          <div class="dropdown__currency" data-currency="RUB">Российский рубль</div> -->
        </div>
        <img class="arrow" src="../images/arrow-down.png" alt="">
      </div>
      <div class="dropdown__content">
        <div class="dropdown__item">
          <img src="../images/flags/russia.png" alt="" class="flag">
          <div class="dropdown__currency" data-currency="RUB">Российский рубль</div>
        </div>
        <div class="dropdown__item">
          <img src="../images/flags/united-states.png" alt="" class="flag">
          <div class="dropdown__currency" data-currency="USD">Доллар США</div>
        </div>
        <div class="dropdown__item">
          <img src="../images/flags/european-union.png" alt="" class="flag">
          <div class="dropdown__currency" data-currency="EUR">Евро</div>
        </div>
        <div class="dropdown__item">
          <img src="../images/flags/united-kingdom.png" alt="" class="flag">
          <div class="dropdown__currency" data-currency="GBP">Фунт стерлингов</div>
        </div>
        <div class="dropdown__item">
          <img src="../images/flags/japan.png" alt="" class="flag">
          <div class="dropdown__currency" data-currency="JPY">Японская иена</div>
        </div>
      </div>
    </div>
  </div>